@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
  font-weight: 300;
}

h3 {
  font-size: 40px;
  font-weight: 300;
}

.background-gradient {
  background: linear-gradient(175deg, rgb(0, 0, 0) 0%, rgb(51, 46, 101) 100%);
}

header {
  width: 100wv;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  margin-bottom: 50px;
}
header .account-icon {
  margin: 2em 5em 0 0;
  width: 70px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: white;
}

.auth-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/background.png");
}
.auth-wrapper .logo {
  height: 20%;
  margin: 4em;
}
.auth-wrapper h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-wrapper h2 {
  margin: 0 0 1em 0;
  font-size: 70px;
  font-weight: 300;
}
.auth-wrapper .login-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 50px;
}
.auth-wrapper .login-from button {
  border: 4px solid white;
  color: white;
  padding: 0.5em 3em;
  border-radius: 40px;
  margin-top: 1.5em;
  background-color: rgba(255, 255, 255, 0.15);
}
.auth-wrapper .login-from label {
  width: 80%;
  margin-bottom: 1em;
  position: relative;
}
.auth-wrapper .login-from label input {
  width: 100%;
  border: 3px solid white;
  border-radius: 25px;
  padding: 0.4em 0.5em;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  color: white;
}
.auth-wrapper .login-from label:after {
  content: " ";
  display: flex;
  width: 60%;
  height: 3px;
  background-color: #AEAEAE;
  position: absolute;
  left: 0.75em;
  bottom: 0.65em;
}

.courses-wrapper {
  width: 100%;
  min-height: 100vh;
}
.courses-wrapper .content {
  width: 90%;
  padding: 0 5%;
}
.courses-wrapper .content .popular-wrapper {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
.courses-wrapper .content .popular-wrapper .popular-card {
  display: flex;
  margin-right: 100px;
  max-height: 15vh;
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #7C82B7;
  min-width: 60vw;
}
.courses-wrapper .content .popular-wrapper .popular-card:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1024px) {
  .courses-wrapper .content .popular-wrapper .popular-card {
    height: 25vh;
  }
}
.courses-wrapper .content .popular-wrapper .popular-card img {
  object-fit: cover;
  width: 100%;
  backdrop-filter: blur(20px);
}
.courses-wrapper .content .popular-wrapper .popular-card .popular-card-content {
  width: 50%;
  background-color: rgba(37, 41, 87, 0.8);
  position: absolute;
  height: 100%;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  align-items: flex-start;
}
.courses-wrapper .content .popular-wrapper .popular-card .popular-card-content a {
  color: white;
  text-decoration: none;
  font-size: 40px;
  border: 1px solid white;
  padding: 0.5em 0;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}
.courses-wrapper .courses .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.courses-wrapper .courses .wrapper .course {
  width: 47.5%;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 50px;
}
.courses-wrapper .courses .wrapper .course img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.courses-wrapper .courses .wrapper .course .content {
  height: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.courses-wrapper .courses .wrapper .course .content a {
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 40px;
  border: 1px solid white;
  padding: 0.5em 0;
  text-align: center;
  border-radius: 20px;
  width: 100%;
  font-weight: 300;
  width: 80%;
}
.courses-wrapper .courses .wrapper .course .content p {
  text-overflow: ellipsis;
  flex: 1 0 0;
  font-size: 20px;
}
.courses-wrapper .courses .wrapper .course .content h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 0.5em 0 0 0;
}

.concrete-course-wrapper {
  min-height: 100vh;
}
.concrete-course-wrapper .course-title {
  width: 95%;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  margin-bottom: 50px;
  background-image: url("../img/title-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.concrete-course-wrapper .course-title .content {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  padding: 5% 0;
  justify-content: space-evenly;
  width: 100%;
  backdrop-filter: blur(50px);
}
.concrete-course-wrapper .course-title .content h1 {
  font-size: 50px;
  width: 70%;
  font-weight: 400;
}
.concrete-course-wrapper .about {
  width: 90%;
  padding: 0 5%;
  margin-bottom: 50px;
}
.concrete-course-wrapper .about h3 {
  color: #B1ADD5;
  font-size: 30px;
  font-weight: 500;
}
.concrete-course-wrapper .about p {
  color: #797599;
  font-size: 13px;
}
.concrete-course-wrapper .skills {
  width: 90%;
  padding: 5% 5%;
  border-radius: 10%;
  background-image: url("../img/skills-background.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: rgba(217, 217, 217, 0.1);
  margin-bottom: 100px;
}
.concrete-course-wrapper .skills h3 {
  font-size: 30px;
}
.concrete-course-wrapper .skills ul {
  font-size: 13px;
  margin-left: 1em;
}
.concrete-course-wrapper .materials {
  background-image: url("../img/materials-background.png");
  background-repeat: repeat-y;
  background-size: 100%;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.concrete-course-wrapper .materials .content {
  width: 90%;
  padding: 5% 5%;
  backdrop-filter: blur(100px);
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.concrete-course-wrapper .materials .content .material-list .title {
  display: grid;
  grid: auto-flow/1fr 6fr 2fr 0.5fr 2fr;
  align-items: baseline;
  justify-items: start;
  width: 100%;
  padding: 4em 0 1em 0;
  border-bottom: 3px solid rgb(85, 83, 117);
}
.concrete-course-wrapper .materials .content .material-list .title img {
  height: 100%;
  justify-self: center;
  align-self: center;
  transition: 0.4s;
  transform: rotate(180deg);
}
.concrete-course-wrapper .materials .content .material-list .title img.active {
  transform: rotate(0);
}
.concrete-course-wrapper .materials .content .material-list .title h4 {
  font-weight: 300;
  margin: 0;
}
.concrete-course-wrapper .materials .content .material-list .title .count, .concrete-course-wrapper .materials .content .material-list .title .time {
  font-size: 10px;
  color: #817FA0;
}
.concrete-course-wrapper .materials .content .material-list .title .count {
  justify-self: end;
}
.concrete-course-wrapper .materials .content .material-list .title .time {
  justify-self: start;
}
.concrete-course-wrapper .materials .content .material-list .title .dot {
  justify-self: center;
}
.concrete-course-wrapper .materials .content .material-list .list {
  padding: 2% 0 0 0;
  overflow-x: hidden;
}
.concrete-course-wrapper .materials .content .material-list .list .list-item {
  display: grid;
  grid: auto-flow/1fr 9.5fr 1fr;
  align-items: baseline;
  padding: 1em 0;
}
.concrete-course-wrapper .materials .content .material-list .list .list-item img {
  height: 90%;
  align-self: center;
  justify-self: center;
}
.concrete-course-wrapper .materials .content .material-list .list .list-item .list-title {
  font-size: 14px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: 300;
  color: white;
}
.concrete-course-wrapper .materials .content .material-list .list .list-item .time {
  color: #817FA0;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
